<ul class="collection">
    {% if categories_list.first[0] == null %}
    {% for cat in categories_list %} 
    <li class="collection-item"><a href="/categories.html#{{ cat }}-ref">{{ cat }} <span class="badge">{{ site.categories[cat].size }}</span></a></li>
    {% endfor %}
    {% else %}
    {% for cat in categories_list %} 
    <li class="collection-item"><a href="/categories.html#{{ cat[0] }}-ref">{{ cat[0] }} <span class="badge">{{ cat[1].size }}</span></a></li>
    {% endfor %}
    {% endif %}
</ul>
{% assign categories_list = nil %}
