---
---
@import "materialize";

.mtop1 {
    margin-top: 1em;
}

.light {
    font-size: 50%;
    color: #888;
}

.read-more {
    @extend .mtop1, .right-align;
}

.footer, .nav {
    @extend .#{$primary-color-name};
}

.footer-copyright {
    @extend .#{$primary-color-name}.darken-2, .white-text;
    padding: 1rem 0 1rem 0;

    a {
        @extend .#{$primary-color-name}-text.text-lighten-3;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $primary-color-dark;

    .light {
        color: $primary-color-light;
    }

    a {
        color: $primary-color-dark; 
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
    }

    a:hover {
        color: $link-color; 
    }
}

article {
    padding: 2rem;

    ul {
        padding: 1em;
        padding-left: 1.5em;

        li {
            list-style-type: square;
        }
    }

    h5 {
        $fontsize: $h6-fontsize*1.1; 
        font-size: $fontsize;
        line-height: $fontsize*1.1;
        margin: ($fontsize / 2) 0 ($fontsize / 2.5) 0;
    }

    h4 {
        $fontsize: $h6-fontsize*1.2; 
        font-size: $fontsize;
        line-height: $fontsize*1.1;
        margin: ($fontsize / 2) 0 ($fontsize / 2.5) 0;
    }

    h3 {
        $fontsize: $h6-fontsize*1.35; 
        font-size: $fontsize;
        line-height: $fontsize*1.1;
        margin: ($fontsize / 2) 0 ($fontsize / 2.5) 0;
    }

    h2 {
        $fontsize: $h6-fontsize*1.5; 
        font-size: $fontsize;
        line-height: $fontsize*1.1;
        margin: ($fontsize / 2) 0 ($fontsize / 2.5) 0;
    }

    h1 {
        border-bottom: 1px solid lighten($primary-color, 25%);
        $fontsize: $h6-fontsize*1.7; 
        font-size: $fontsize;
        line-height: $fontsize*1.1;
        margin: ($fontsize / 2) 2rem ($fontsize / 2.5) 0;
    }
}
