<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!-- <meta name="viewport" content="width=device&#45;width, initial&#45;scale=1, maximum&#45;scale=1.0, user&#45;scalable=no"/> -->
        <title>{{ site.title }} | {{ page.title }}</title>

        <!-- CSS  -->
        <link href="/assets/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="/assets/css/codehighlighting.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <nav class="nav" role="navigation">
            <div class="nav-wrapper container"><a href="/" class="brand-logo">ASW Blog</a>
                <ul class="right hide-on-med-and-down">
                    {% include nav.html %}
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    {% include nav.html %}
                </ul>
                <a href="" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>
        <div class="section">
            <div class="container">
                {{ content }}
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">AUTOMATE EVERYTHING!</h5>
                        <p class="white-text">
                            I'm a freelancing software developer located in Stuttgart. I don't like to do the same stuff over and over again,
                            so I automate everything. I mostly work with Ubuntu and my coding is normally in python, so howtos and code examples
                            will mostly work on Ubuntu and be in python.
                        </p>
                    </div>
                    <div class="col l2 s12">
                        <h5 class="white-text">Blog</h5>
                        <ul>
                            <li><a class="white-text" href="/rss.xml"><i class="fa fa-rss"></i> RSS Feed</a></li>
                            <li><a class="white-text" href="/atom.xml"><i class="fa fa-rss-square"></i> Atom Feed</a></li>
                            <li><a class="white-text" href="/archive.html"><i class="fa fa-archive"></i> Archive</a></li>
                            <li><a class="white-text" href="/categories.html"><i class="fa fa-bars"></i> Categories</a></li>
                            <li><a class="white-text" href="/tags.html"><i class="fa fa-tags"></i> Tags</a></li>
                        </ul>
                    </div>
                    <div class="col l2 s12">
                        <h5 class="white-text">Connect</h5>
                        <ul>
                            <li><a class="white-text" href="https://twitter.com/asmaps" target="_blank"><i class="fa fa-twitter"></i> Twitter @asmaps</a></li>
                            <li><a class="white-text" href="https://github.com/asmaps" target="_blank"><i class="fa fa-github"></i> Github</a></li>
                            <li><a class="white-text" href="https://www.asw.io/" target="_blank"><i class="fa fa-globe"></i> Homepage</a></li>
                        </ul>
                    </div>
                    <div class="col l2 s12">
                        <h5 class="white-text">My Projects</h5>
                        <ul>
                            <li><a class="white-text" href="https://www.github.com/asmaps/hopper.pw/" target="_blank">hopper.pw (discontinued)</a></li>
                            <li><a class="white-text" href="https://github.com/opendata-stuttgart/" target="_blank">OK Lab Stuttgart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container clearfix">
                    <div class="right">
                        <a href="/imprint.html">Imprint</a> | <a href="/privacy.html">Privacy</a>
                    </div>
                    <div>
                        Made by <a href="https://www.asw.io/">AS Webservices</a>
                    </div>
                </div>
            </div>
        </footer>


        <!--  Scripts-->
        <script src="/assets/js/jquery-2.1.1.min.js"></script>
        <script src="/assets/js/materialize.min.js"></script>
        <script src="/assets/js/init.js"></script>

    </body>
</html>
