---
layout: default
---

<h2>{{ page.title }}<br>
    <span class="light">{{ page.description }}</span></h2>

<div class="row">
    <div class="col l3 hide-on-large-only">
        {% include post_meta.html %}
    </div>
    <div class="col l9 s12">
        <article class="z-depth-1">
            {{ content }}
        </article>
    </div>
    <div class="col l3 hide-on-med-and-down">
        {% include post_meta.html %}
    </div>
</div>

<!-- <nav class="pagination"> -->
<!--     <ul> -->
<!--         {% if page.previous %} -->
<!--         <li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&#38;laquo; {{ page.previous.title }}</a></li> -->
<!--         {% endif %} -->
<!--         {% if page.previous and page.next %} -->
<!--         <li class="pipe"> | </li> -->
<!--         {% endif %} -->
<!--         {% if page.next %} -->
<!--         <li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &#38;raquo;</a></li> -->
<!--         {% endif %} -->
<!--     </ul> -->
<!-- </nav> -->
<!-- <p class="gotop"> -->
<!--     <a href="#page">Back to Top</a> -->
<!-- </p> -->
